@import url('https://fonts.googleapis.com/css2?family=Anta&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    /* LIGHT MODE */
    --bg-color: #ffffff;
    --wnb: #000000;
    --text-color: rgb(70, 70, 70);
    --navbar-color: linear-gradient(90deg, rgb(157, 111, 255, 0.55), rgba(209, 209, 209, 0.55));
    --text-gradient-primary: linear-gradient(45deg, #00b7ff,#7332FF);
    --loki-div-background: linear-gradient(45deg, #b9ebff,  #7332FF);
    --loki-div-hover-color: #a3ceff;
    --theme-icon-color: black;
    --theme-icon-hover: rgba(45, 45, 45, 0.095);
    --scroll-bar: rgba(86, 86, 86, 0.3);
    --sidebar-hover-shadow: #454545;
    --colored-section-text: #ffffff;
    --cert-box-shadow: rgb(222, 222, 222) 0 0 15px 2px;
    --cert-fade-left: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 255, 255));
    --cert-fade-right: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.darkmode{
    /* DARK MODE */
    --bg-color: #212121;
    --wnb: #ffffff;
    --text-color: #E6E6E6;
    --navbar-color: linear-gradient(90deg, rgb(157, 111, 255, 0.55), rgb(68, 68, 68, 0.55));
    --text-gradient-primary: linear-gradient(45deg, #7332FF, #ffffff);
    --loki-div-background: linear-gradient(45deg, #7332FF, #ffffff);
    --loki-div-hover-color: #b592ff;
    --theme-icon-color: rgb(255, 255, 255);
    --theme-icon-hover: rgba(218, 218, 218, 0.2);
    --scroll-bar: rgba(255, 255, 255, 0.25);
    --sidebar-hover-shadow: #454545;
    --colored-section-text: #ffffff;
    --cert-box-shadow: rgb(11, 11, 11) 0 0 15px 2px;
    --cert-fade-left: linear-gradient(to left, rgba(255, 255, 255, 0), #212121);
    --cert-fade-right: linear-gradient(to right, rgba(255, 255, 255, 0), #212121);

}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background: #00b7ff;
    background: var(--scroll-bar);
    border-radius: 10px;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Oxanium';
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    user-select: none;
}

body{
    background-color: var(--bg-color);
    cursor: url(assets/cursor_pointer/mouse.png),auto;
}

/* NAVBAR */
header{
    background-color: var(--bg-color);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
    padding: 1.5rem;
    z-index: 1000;
    min-height: 70px;
    width: 100vw;
    padding-left: 50px;
    padding-right: 50px;
}

.header-decoy{
    min-height: 80px;
}

header >*{
    flex-grow: 1;
}

.logo{
    flex-grow: 0;
    font-size: 1.2rem;
    border: none;
    background: var(--text-gradient-primary);
    font-weight: 600;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-wrap: nowrap;
    cursor: url(assets/cursor_pointer/pointer.png), pointer;
}

.nav-links-sidebar{
    display: none;
}

.nav-links{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.nav-links button{
    color: var(--text-color);
    background: var(--bg-color);
    border: none;
    padding: 2px;
    position: relative;
    font-size: 1rem;
    cursor: url(assets/cursor_pointer/pointer.png), pointer;
}

.nav-links button::before{
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    height: 2px;
    bottom: 0;
    transition: 0.3s ease-in-out;
    background: var(--text-gradient-primary);
}

.nav-links button:hover::before{
    width: 100%;
}

#menu-icon{
    flex-grow: 0;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    display: none;
    cursor: url(assets/cursor_pointer/pointer.png), pointer;
}

#menu-icon svg{
    fill: var(--text-color);
}

#menu-icon:hover{
    background-color: var(--theme-icon-hover);
}

#theme-btn{
    flex-grow: 0;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    cursor: url(assets/cursor_pointer/pointer.png), pointer;
}

#theme-btn svg{
    fill: var(--text-color);
}

#theme-btn:hover{
    background-color: var(--theme-icon-hover);
}

#theme-btn svg:last-child{
    display: none;
}

.darkmode #theme-btn svg:first-child{
    display: none;
}

.darkmode #theme-btn svg:last-child{
    display: block;
}

/* HERO SECTION */
.hero{
    display: none;
}

.hero.active{
   height: 90vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.hero-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85vw;
}

.hero-card>*{
    flex: 0 1 100%;
}

.hero .hero-content >*{
    color: var(--text-color);
}

.hero-content{
    max-width: 50vw;
}

.hero-content h1{
    font-weight: bold;
    font-size: 2.5rem;
}

.hero-content .loki-txt{
    background: var(--text-gradient-primary);
    font-weight: bolder;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-wrap: nowrap;
}

.hero-content h3{
    font-weight: 200;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero-content p{
    font-size: 1rem;
    margin-top: 5px;
    max-width: 35vw;
}

.hero-img{
    background: var(--loki-div-background);
    border-radius: 50%;
    max-width: 400px;
    max-height: 400px;
    box-shadow: 0 0 0 0 var(--bg-color);
    transition: all 0.35s ease-in-out;
    animation: scrollFadeIn linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.hero-img:hover{
    box-shadow: 0 0 20px 5px var(--loki-div-hover-color);
}

.hero-img img{
    right: 0;
    max-width: 400px;
    max-height: 400px;
}

/*SKILLS SECTION*/
.skills{
    display: none;
}

.skills.active{
    min-height: 50vh;
    background: var(--loki-div-background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills .skills-card{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;
    animation: scrollFadeIn linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.skills h3{
    color: var(--colored-section-text);
    font-size: 2.5rem;
    margin-bottom: 5px;
}

.skills h5{
    color: var(--colored-section-text);
    font-size: 1.3rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
}

.skills .skills-pills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* max-width: 40vw; */
}

.skills-pills h4{
    text-align: center;
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 3px solid var(--colored-section-text);
    border-radius: 10px;
    flex: 0 1 100px;
    color: var(--colored-section-text);
    font-size: 1.3rem;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.skills-pills h4::before{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
    background: var(--bg-color);
    transition: width 0.3s ease;
    z-index: -1;
}

.skills-pills h4:hover{
    background: var(--bg-color);
    color: var(--loki-div-hover-color);
}

.skills-pills h4:hover::before{
    width: 100%;
}

/* PROJECTS SECTION */
.projects{
    display: none;
}

.projects.active{
    min-height: 60vh;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-card{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;

}

.projects-card h3{
    background: var(--text-gradient-primary);
    font-size: 2.5rem;
    margin-bottom: 5px;
    font-weight: bolder;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-wrap: nowrap;
    animation: scrollFadeIn linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

.projects-card h5{
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
    animation: scrollFadeIn linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

.project-thumbnail-container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.project-thumbnail-container.grid{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.project-thumbnails{
    display: none;
}

.project-thumbnails.active{
    display: flex;
    flex: 0 1 350px;
    flex-direction: column;
    width: 350px;
    height: 250px;
    overflow: hidden;
    background: var(--wnb);
    border-radius: 15px;
    box-shadow: var(--cert-box-shadow);
    margin: 30px;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    cursor: url(assets/cursor_pointer/pointer.png), pointer;
    animation: scrollFadeIn linear;
    animation-timeline: view();
    animation-range: entry 0;
}

.more-projects{
    background: var(--bg-color);
    display: none;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    cursor: url(assets/cursor_pointer/pointer.png), pointer;
}

.more-projects svg:active{
    opacity: 0.75;
}

.more-projects button{
    border: none;
    background-color: var(--bg-color);
}

.more-projects svg{
    background-color: var(--bg-color);
    fill: var(--text-color);
    width: 60px;
    height: 60px;
}

.project-thumbnails:hover{
  opacity: 0.8;
}

.project-thumbnails:active{
    opacity: 0.3;
    border: 5px solid var(--loki-div-hover-color);
}

.project-thumbnails img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 0px;
}

.project-thumbnails p{
    color: var(--bg-color);
    margin: 10px 0px;
    font-weight: 600;
}

.projects .github-btn{
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    background: var(--loki-div-background);
    border: none;
    color: var(--bg-color);
    font-weight: bold;
    box-shadow: 0 0 0 0;
    transition: all 0.35s ease-in-out;
    cursor: url(assets/cursor_pointer/pointer.png), pointer;
}

.projects .github-btn:hover{
    box-shadow: 0 0 10px 2px var(--loki-div-hover-color);
}

/* CERTIFICATES INFINITE SCROLL SECTION */

.certificates{
    display: none;
}

.certificates.active{
    max-width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    /* margin-bottom: 50px; */
    animation: scrollFadeIn linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.certificates-card::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: var(--cert-fade-left);
    content: '';
    z-index: 2;
}

.certificates-card::after{
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    background: var(--cert-fade-right);
    content: '';
    z-index: 2;
}

.certificates-card {
    display: inline-block;
    max-width: 99vw;
    overflow: hidden;
    white-space: nowrap;
}

.certificates h3{
    background: var(--text-gradient-primary);
    font-size: 2.5rem;
    font-weight: bolder;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-wrap: nowrap;
}

.certificates-scroll{
    display: inline-block;
    padding: 20px 0;
    animation: 25s scroll infinite linear;
    position: relative;
}

.certificates h5{
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
}

.certificates-scroll img{
    height :220px;
    width: auto;
    box-shadow: var(--cert-box-shadow);
    margin: 0 40px;
    border-radius: 10px;
}

@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.certificates .cert-btn{
    margin-top: 20px;
    padding: 15px;
    border-radius: 20px;
    background: var(--loki-div-background);
    border: none;
    color: var(--bg-color);
    font-weight: bold;
    box-shadow: 0 0 0 0;
    transition: all 0.35s ease-in-out;
    cursor: url(assets/cursor_pointer/pointer.png), pointer;
}

.certificates .cert-btn:hover{
    box-shadow: 0 0 15px 3px var(--loki-div-hover-color);
}

/* ABOUT SECTION */
.about{
    display: none;
}

.about.active{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    height: 90vh;
}

.about-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 70vw;
    height: 100%;
}

.about h3{
    background: var(--text-gradient-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    margin-bottom: 5px;
}

#about-section-text{
    color: var(--text-color);
    text-align: justify;
    font-size: 1.3rem;
    font-weight: 300;
    margin-top: 10px;
}

/* CONTACT SECTION */
.contact{
    display: none;
}

.contact.active{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    animation: scrollFadeIn linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    /* height: 90vh; */
    margin-top: 80px;
}

.contact-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    margin-bottom: 50px;
}

.contact h3{
    background: var(--text-gradient-primary);
    font-size: 2.5rem;
    margin-bottom: 5px;
    font-weight: bolder;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-wrap: nowrap;
}

.contact h5{
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
}

#contact-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.contact input{
    margin-bottom: 15px;
    padding: 12px 15px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    color: var(--text-color);
    background: transparent;
}

.contact textarea{
    margin-bottom: 15px;
    padding: 12px 15px;
    width: 100%;
    height: 10rem;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    color: var(--text-color);
    background: transparent;
}

.contact button{
    margin-top: 20px;
    padding: 15px;
    width: 7rem;
    border-radius: 10px;
    background: var(--loki-div-background);
    border: none;
    color: var(--bg-color);
    font-weight: bold;
    box-shadow: 0 0 0 0;
    transition: all 0.35s ease-in-out;
    cursor: url(assets/cursor_pointer/pointer.png), pointer;
}

.contact button:hover{
    box-shadow: 0 0 10px 2px var(--loki-div-hover-color);
}

/* THANK YOU SECTION */
.thank-you{
    display: none;
}

.thank-you.active{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 10vh;
    background: var(--loki-div-background);
}

.thank-you-card{
    display: flex;
    max-width: 100vw;
    align-items: center;
    justify-content: center;
}

.thank-you h5{
    text-align: center;
    font-size: 2rem;
    color: var(--colored-section-text);
    font-weight: 300;
}

/* FOOTER SECTION */
.footer{
    /* background: var(--bg-color); */
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.footer-card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 35vw;
}
.footer-card .media-handles{
    fill: var(--text-color);
    height: 30px;
    width: 30px;
    margin: 15px;
    border: none;
    background: var(--bg-color);
    opacity: 1;
    transition: all 0.2s ease-in-out;
    cursor: url(assets/cursor_pointer/pointer.png), pointer;
}

.footer-card .media-handles:hover{
    opacity: 0.75;
}

.footer p{
    color: var(--text-color);
    font-size: 1rem;
}

/* MEDIA QUERIES */
@media (max-width: 1350px){

    .hero{
        height: 80vh;
    }

    .hero-content h1{
        font-size: 2rem;
    }

    .hero-content .loki-txt{
        font-size: 2rem;
    }

    .hero-content h3{
        font-size: 1.1rem;
    }

    .hero-content p{
        font-size: 1rem;
    }

    .hero-img{
        max-width: 300px;
        max-height: 300px;
    }

    .hero-img img{
        max-width: 300px;
        max-height: 300px;
    }

    .skills-card h3{
        font-size: 2rem;
    }

    .skills-card h5{
        font-size: 1rem;
    }

    .projects-card h3{
        font-size: 2rem;
    }

    #about-section-text{
        font-size: 1rem;
    }

    .certificates h5{
        font-size: 1rem;
    }

    .certificates h3{
        font-size: 2rem;
    }

    .certificates-card::after{
        width: 170px;
    }

    .certificates-card::before{
        width: 170px;
    }

    .certificates-scroll img{
        height: 210px;
        margin: 0 30px;
    }
    #contact-form{
        width: 50%;
    } 

    .contact h5{
        font-size: 1rem;
    }

    .contact h3{
        font-size: 2rem;
    }
}

@media (max-width: 1000px){

    .header-decoy{
        min-height: 90px;
    }

    .hero-card{
        flex-direction: column-reverse;
    }

    .hero-content{
        max-width: 90vw;
    }

    .hero-content h1{
        margin-top: 50px;
        font-size: 2rem;
        text-align: center;
    }

    .hero-content .loki-txt{
        font-size: 1.7rem;
    }

    .hero-content h3{
        display: none;
    }

    .hero-content p{
        margin-top: 10px;
        font-size: 1rem;
        text-align: justify;
        max-width: 65vw;
    }

    .hero-img{
        max-width: 350px;
        max-height: 350px;
    }

    .hero-img img{
        max-width: 350px;
        max-height: 350px;
    }

    .skills{
        min-height: 40vh;
    }

    .skills h3{
        font-size: 2rem;
    }

    .skills h4{
        font-size: 1.1rem;
        padding: 5px 10px;
        margin-right: 8px;
        margin-bottom: 15px;
    }

    .skills h5{
        font-size: 1rem;
    }

    .projects{
        min-height: 115vh;
        padding: 30px;
    }

    .projects h3{
        font-size: 2rem;
    }

    .projects h4{
        font-size: 1.1rem;
        padding: 5px 10px;
        margin-right: 8px;
        margin-bottom: 15px;
    }

    .projects h5{
        font-size: 1rem;
    }

    .projects-card{
        width: 95vw;
    }

    .project-thumbnails{
        width: 315px;
        height: 225px;
    }

    .github-btn{
        margin-top: 0px;
    }

    .certificates h3{
        font-size: 2rem;
    }

    .certificates h5{
        font-size: 1rem;
    }

    .certificates-card::after{
        width: 150px;
    }

    .certificates-card::before{
        width: 150px;
    }

    .certificates-scroll img{
        height: 200px;
        margin: 0 30px;
    }

    #contact-form{
        width: 60%;
    }

    .contact h3{
        font-size: 2rem;
    }

    .contact h5{
        font-size: 1rem;
    }
}

@media (max-width: 600px) {

    #menu-icon{
        display: block;
        position: absolute;
        left: 20px;
    }

    #theme-btn{
        position: absolute;
        right: 20px;
    }

    .nav-links{
        display: none;
    }

    .nav-links-sidebar{
        position: fixed;
        z-index: 1000;
        background-color: var(--bg-color);
        box-shadow: 0 0 20px 2px var(--sidebar-hover-shadow);
        width: 70vw;
        height: 100vh;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.4s ease;
    }

    .fake-before{
        content: '';
        position: absolute;
        width: 100vw;
        /* left: 70vw; */
        height: 100%;
        background: transparent;
        z-index: 5;
    }

    .nav-links-sidebar.active{
        opacity: 0;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    #close-icon{
        display: flex;
        background: var(--bg-color);
        border: none;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 15px 30x;
        z-index: 6;
    }

    #close-icon svg{
        fill: var(--text-color);
        margin-left: 30px;
        margin-top: 20px;
        margin-bottom: 30px;
        cursor: pointer;
    }

    .nav-links-btns{
        z-index: 6;
    }

    .nav-links-btns >*{
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease;
        background: var(--bg-color);
        padding: 20px 30px;
        width: 100%;
        text-align: left;
        border: none;
        font-size: 1rem;  
        color: var(--text-color);
    }

    .nav-links-btns >*:hover{
        background: rgba(165, 165, 165, 0.301);
    }

    .nav-btns-sidebar{
        color: var(--text-color);
        padding: 2px;
        position: relative;
        font-size: 1.3rem;
        z-index: 8;
    }

    .logo-sidebar{
        border-top: 2px solid var(--text-color);
        width:60vw;
        padding-top: 20px;
        text-align: center;
        background: var(--text-gradient-primary);
        font-weight: 600;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-wrap: nowrap;
        font-size: 1.3rem;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 6;
    }

    .header-decoy{
        min-height: 100px;
    }

    .hero-card{
        flex-direction: column-reverse;
    }

    .hero-content{
        max-width: 90vw;
    }

    .hero-content h1{
        margin-top: 50px;
        font-size: 1.6rem;
        text-align: left;
    }

    .hero-content .loki-txt{
        font-size: 1.6rem;
    }

    .hero-content h3{
        display: none;
    }

    .hero-content p{
        margin-top: 10px;
        font-size: 0.9rem;
        text-align: justify;
        max-width: 55vw;
    }

    .hero-img{
        max-width: 300px;
        max-height: 300px;
    }

    .hero-img img{
        max-width: 300px;
        max-height: 300px;
    }

    .hero-content p{
        max-width: 80vw;
    }

    .skills{
        min-height: 55vh;
    }

    .skills h3{
        font-size: 1.8rem;
    }

    .skills h4{
        font-size: 0.9rem;
        padding: 5px 10px;
        margin-right: 8px;
        margin-bottom: 15px;
    }

    .skills h5{
        font-size: 1rem;
    }

    .projects.active{
        min-height: 65vh;
        padding: 0;
    }

    .projects-card{
        margin-top: 0px;
        animation: scrollFadeIn linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
    }

    .projects h3{
        font-size: 1.8rem;
    }

    .projects h5{
        font-size: 1rem;
    }

    .project-thumbnail-container {
        overflow-x: auto;
        flex-wrap: nowrap;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        /* padding: 20px; */
        justify-content: flex-start;
        margin-bottom: 20px;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    
    .more-projects{
        display: flex;
    }

    .hidden{
        display: none;
    }

    .visible{
        display: flex;
    }

    .project-thumbnail-container::-webkit-scrollbar{
        display: none;
    }

    .project-thumbnails.active {
        flex: 0 0 80%;
        margin: 0 10px;
        scroll-snap-align: start;
        min-width: 360px;
    }

    .about.active{
        height: 77vh;
    }

    .about-card{
        width: 85vw;
    }

    .about h3{
        font-size: 1.8rem;
        margin-bottom: 5px;
    }

    #about-section-text{
        font-size: 1rem;
    
    }

    .thank-you{
       height: 10vh;
    }

    .thank-you h5{
       font-size: 1.5rem;
    }

    .footer{
        flex-direction: column;
        justify-content: center;
    }

    .footer-card .media-handles{
        margin: 10px;
    }

    .footer p{
        font-size: 0.65rem;
    }

    .certificates h3{
        font-size: 1.8rem;
    }

    .certificates h5{
        font-size: 1rem;
    }

    .certificates-card::after{
        width: 60px;
    }

    .certificates-card::before{
        width: 60px;
    }

    .certificates-scroll img{
        height: 200px;
        margin: 0 20px;
    }

    #contact-form{
        width: 85%;
    } 

    .contact h3{
        font-size: 1.8rem;
    }

    .contact h5{
        font-size: 1rem;
    }
}

@keyframes scrollFadeIn {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes scrollSlideIn{
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}